{
    "plugins": ["prettier-plugin-tailwindcss"],
    "parser": "typescript",
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true
  }
  